$white_color: #ffffff;
$black_color: #000000;
$yellow_color: #9c9808;
$red_color: #67181c;
$gray_color: #333333;
$bg_color: #e6e3d7;

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
